.quotes-container {
  @extend %modal;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
  padding: 2em;
  min-height: 50vh;
  background-color: $light;
  color: $dark;
  text-align: center;
  border-radius: 1.25em;

  .quote-content {
    max-height: 60vh;
    overflow-y: scroll;
    font-size: 1.5em;
    &::before {
      content: open-quote;
      height: 0.75em;
      @extend %quotation-flare;
    }
    &::after {
      content: close-quote;
      @extend %quotation-flare;
    }
  }

  .quote-author {
    display: block;
    font-size: 1.25em;
  }
}

%quotation-flare {
  color: $accent1;
  font-size: 5em;
  font-family: serif;
  display: block;
}
