%modal {
  display: grid;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: scale-color($color: $dark, $alpha: -30%);
  min-width: fit-content;

  // This only filter the background if the feature is supported by the browser
  @supports (backdrop-filter: blur()) {
    backdrop-filter: blur(1em);
  }
}

%btn {
  border: none;
  text-decoration: none;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0.5em;
  transition: 0.35s;
}

%card{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  border-radius: 1.25em;
  align-items: center;
  justify-content: center;
  background-color: scale-color($color: $light,$lightness: 0%, $alpha: -20%);
  padding: 2em;
  color: $dark
}