// Colors:
$accent1: hsl(358, 72%, 48%);
$accent2: hsl(229, 72%, 48%);
$light: hsl(0, 0%, 90%);
$dark: hsl(0, 0%, 12%);

// Messages:
$success: rgb(151, 199, 107);
$info: rgb(92, 129, 185);
$warning: rgb(216, 195, 101);
$error: rgb(170, 72, 72);

// Break for Media Query Mixin
$M: 52em;
