@import "partials/posts";

input {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

#telNum {
  /* This is our style for the invalid fields */
  &:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  &:valid {
    border-color: rgb(48, 153, 0);
    background-color: rgb(224, 255, 221);
  }

  &:focus:invalid {
    outline: none;
  }
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}
a {
  color: goldenrod;
  padding: 0.25em 1ch;
  transition: 0.5s;
  border-radius: 1em;
  line-height: 1.75em;
  &:hover {
    color: #000;
    background-color: goldenrod;
    transition-delay: 0.15s;
  }
}
