$post-bg: rgb(53, 28, 61);
.post[data-status="hidden"]{
  display: none;
}
.post {
  margin: 1em;
  display: flex;
  flex-direction: column;
  background: $post-bg;
  border-radius: 1.25em;
  padding: 2em;
}
