// Colors:
$accent1-100: hsl(0, 60%, 44%);
$accent1-200: hsl(0, 60%, 34%);
$accent1-300: hsl(0, 60%, 24%);

$dark-100: hsl(0, 0%, 22%);
$dark-200: hsl(0, 0%, 12%);
$dark-300: hsl(0, 0%, 6%);

$light-100: hsl(0, 0%, 95%);
$light-200: hsl(0, 0%, 75%);
$light-300: hsl(0, 0%, 55%);

// Breakpoints:
$S: 32em;
$M: 32.1em;
$L: 52em;